# Manipulando Tablas

Datos extraídos de  https://github.com/justmarkham 

Métodos y funciones usadas:

```python
.read_table()
.set_index()
.map()
.apply()
lambda
.groupby()
.capitalize()
.isin()
.shape[]
.unstack()
fill_values
.count()
.isnull()
.fillna()

```

### Paso 1. 
Importa las librerías necesarias.

### Paso 2. 
Carga los datos de empleo del archivo 'Occupation.txt' en una tabla de nombre 'Users'. Usa para ello el método:

``` python
.read_table()
```

Las columnas están separadas por '|'

### Paso 2. 
Si visualizas la tabla verás que hay una columna de nombre 'user_id' que se puede utilizar como índice de la tabla.
Usa para ello el comando 
``` python
.set_index()
```
Para que el cambio se consolide debes igualar el nombre de la tabla al resultado de aplicar el método.

### Paso 3.

Añade una columna de nombre 'salary' que contenga para cada registro una cantidad aleatoria entre 10000 y 100000.
Guarda en la variable 'salario_medio' la media de dicha columna

### Paso 4.
Añade una columna de nombre 'days_work' que contenga para cada registro una cantidad aleatoria entre 1 y 365.

### Paso 5.

Usando el método 
``` python
.map()
```
crea una nueva columna llamada 'gender_num' que contega 0 si  'gender == F' y 1 si 'gender == M'

### Paso 6.

Usando el método 
``` python
.apply()
```
y la función 
```python
lambda 
```
crea una nueva columna 'salary_rise' para calcular el incremento de salario por el IPC. Multiplica los elementos de la columna 'salary' por 0.038

### Paso 7.

Crea una nueva columna de nombre 'future_salary_per_day' donde para cada registro sumes las columnas 'salary' y 'salary_rise' y dividas por 'days_work'

### Paso 8.

Crea una función de nombre 'mayuscula' que reciba una cadena de texto y devuelva el mismo texto pero con la primera letra en mayúscula.
Puedes usar el método para *strings* 
```python
capitalize()
```

### Paso 9.

Usando el método 
```python
.apply()
```

y la función 'mayuscula' modifica la columna 'occupation' para poner la primera letra en mayúscula.``

### Paso 10

Usando el metodo 
```python
.isin()
```
crea una tabla llamada 'IA' donde guardes los individuos cuya profesión ('occupation') es 'Programmer','Engineer' o 'Technician'.

### Paso 11

Usando el metodo 
```python
.isin()
```
calcula el número de individuos que son 'Programmer','Engineer' o 'Technician'. También puedes emplear la tabla 'IA' recién creada

### Paso 12.

Calcula el número de hombres y el de mujeres en esas tres profesiones en conjunto.

### Paso 13.

Agrupa la tabla por profesiones y muestra una tabla con el número de trabajadores por profesión.
Usa el método
```python
.groupby()
```

### Paso 14.

Agrupa la tabla por profesiones y muestra una tabla con el valor medio de la edad y el salario en cada profesión

### Paso 15.

Usando el método
```python
.agg()
```
sobre la tabla agrupada por profesiones, muestra en seis columnas diferentes los valores mínimo, medio y máximo para la edad y el salario.

### Paso 16.

Usando el método
```python
.agg()
```
sobre la tabla agrupada por profesiones, crea una nueva tabla de nombre 'Profesion' con 2 columnas: una 'Hombres' y otra 'Mujeres' que contengan para cada profesión el número de hombres y mujeres que hay.

### Paso 16b.
Otra forma de hacer lo mismo es empleando el método
```python
.groupby()
```
y agrupar usando dos columnas 'occupation' y 'gender'.
Despues emplear el método 
```python
.size()
```
Para determinar el número de registros en cada profesión y sexo.

### Paso 17.

La tabla anterior es "fea". Usando el método 
```python
.unstack()
```
junto con el parámetro
```python
(fill_value=None)
```
convierte el índice de apilamiento 'M','F' en dos columnas distintas. Guarda el resultado en una tabla de nombre 'empleos_1'

### Paso 18.

Cambia el nombre de las columnas de la tabla 'empleos_1' a 'Mujeres' y 'Hombres'.

### Paso 19.
Usa el método:
```python
.sum()
```
sobre las columnas 
```python
(axis = 0)
```
en la tabla 'empleos_1' para calcular el numero de hombres y mujeres en total. 

Usa el método:
```python
.count()
```
sobre las columnas 
```python
(axis = 0)
```
en la tabla 'empleos_1' para calcular el número de profesiones en los que hay hombres y mujeres.

Hay 21 empleos donde está ocupado al menos un hombre, mientras que ese número se reduce a 20 en el caso de las mujeres.

### Paso 20.
Para saber si hay valores perdidos o 'None' es una tabla podemos emplear el método:
```python
.isnull()
```
Emplealo en 'empleos_1' para saber si algún registro tiene valores perdidos.
Combinalo con: 
```python
.sum()
```
para encontrar el complementario del Paso 19.
Finalmente mediante el método:
```python
.fillna(0)
```
Crea la tabla 'empleos_2' que es una copia de 'empleos_1' pero con '0' en lugar de 'NaN' allí donde falta algún valor.